.calendar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1.125rem;
  background-color: var(--primary-lightest);

  &__select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    span {
      padding: 0.5rem 1rem;
      border-radius: 0.75rem;
      background: var(--primary);
      color: #fff;
    }

    svg {
      cursor: pointer;
    }
  }

  &__days {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  &__day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__koDay {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #72777a;
    margin-bottom: 0.5rem;
  }

  &__selectBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover,
    &.calendar--selected {
      color: #fff;
      background-color: var(--primary);
    }
  }

  &__event {
    font-size: 0.5rem;
  }
}
