.calendar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 25px;
  background-color: #f8fbff;

  &__select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    span {
      padding: 8px 16px;
      border-radius: 12px;
      background: #1876fb;
      color: #fff;
    }

    svg {
      cursor: pointer;
    }
  }
  &__days {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  &__day {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--koDay {
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      color: #72777a;
      margin-bottom: 8px;
    }

    &--button {
      display: flex;
      flex-direction: column;
    }

    &--event {
      font-size: 18px;
    }
  }
}
