.main {
  width: 100%;
  height: 100%;
}

.landing-intro {
  height: 100%;
  background: #1876fb;

  &__header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;

    a,
    span {
      color: #fff;
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 45px;

      span {
        font-size: 36px;
        line-height: 42px;
        font-weight: 700;
      }
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 100px;

      a {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;

    .intro {
      flex: 1 0 1;
      display: flex;
      flex-direction: column;
      gap: 80px;
      padding-top: 50px;
      padding-left: 10%;

      span {
        color: #fff;
      }

      &__top {
        display: flex;
        flex-direction: column;
        gap: 8px;

        > .title {
          font-weight: 900;
          font-size: 150px;
          line-height: 150px;
        }

        > .description {
          font-size: 32px;
          line-height: 39px;
          font-weight: 700;
        }
      }

      &__bottom {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }

    .images {
      flex: 2;
    }
  }
}

.landing-detail {
  margin-top: 70px;
  padding: 0 80px;

  &__intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 40px;

    > .title {
      font-size: 28px;
      line-height: 39px;
      font-weight: 700;
      color: #090a0a;
    }

    > .description {
      font-size: 18px;
      line-height: 36px;
      font-weight: 400;
      color: #6c7072;
    }
  }

  &__feature-intro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .feature-intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
      margin-bottom: 100px;

      > .title {
        font-size: 22px;
        line-height: 39px;
        font-weight: 700;
        color: #090a0a;
      }

      > .description {
        width: 280px;
        font-size: 18px;
        line-height: 40px;
        font-weight: 400;
        color: #202325;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    gap: 200px;

    .user-link {
      display: flex;
      flex-direction: column;
      text-align: center;

      span {
        font-size: 24px;
        line-height: 39px;
        font-weight: 700;
        color: #090a0a;
      }

      img {
        width: 150px;
        height: 150px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 18px;
        line-height: 36px;
        font-weight: 500;
        color: #1876fb;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
}
